/* MAIN STYL ======================================= */


/* import all global styl */
@import 'global'


/* import all screens */
@import 'profile'



html, body, div, table, p, input
	color: #d6cbcb
	font-family: 'Roboto', sans-serif
	font-weight: 300