/* MAIN STYL ======================================= */
/* import all global styl */
.response-text:empty {
  visibility: hidden;
}
.response-text {
  font-weight: 300;
  color: #f00;
  font-size: 14px;
  position: relative;
  margin-top: 5px;
  height: 16px;
}
.mui-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  height: 92px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/* padding: 0 16px 10px 16px */
  padding-bottom: 10px;
/* Error message */
}
.mui-input .error-msg {
  position: relative;
  width: 100%;
  color: lightRed;
  font-size: 12px;
  margin-top: 4px;
}
.mui-input .error-msg:empty {
  visibility: hidden;
}
.mui-input .group {
  position: relative;
  width: 100%;
/* LABEL ======================================= */
/* active state */
/* BOTTOM BARS ================================= */
/* active state */
}
.mui-input .group input {
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid color13;
}
.mui-input .group input:focus {
  outline: none;
  background: transparent;
}
.mui-input .group label {
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}
.mui-input .group input:focus ~ label,
.mui-input .group input:valid ~ label {
  top: -10px;
  color: color7;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 0.2px;
}
.mui-input .group .bar {
  position: relative;
  display: block;
  width: 100%;
}
.mui-input .group .bar:before,
.mui-input .group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: color6;
  transition: 0.2s ease all;
}
.mui-input .group .bar:before {
  left: 50%;
}
.mui-input .group .bar:after {
  right: 50%;
}
.mui-input .group input:focus ~ .bar:before,
.mui-input .group input:focus ~ .bar:after {
  width: 50%;
}
.mui-textarea {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 16px;
}
.mui-textarea label {
  font-size: 11px;
  font-weight: normal;
  position: relative;
  pointer-events: none;
}
.mui-textarea textarea {
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  color: color4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  resize: none;
  border-bottom: 1px solid color13;
  min-height: 100px;
}
.select-wrap {
  width: 100%;
  height: 92px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/* padding: 0 16px */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.select-wrap .select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px 10px 5px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid color13;
}
.select-wrap .select-list {
  position: absolute;
  background: #000;
/* width: calc(100% - 32px) */
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 0;
  z-index: 10;
}
.select-wrap .select-list .select-list__item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
  font-size: 14px;
}
.checkbox {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 16px;
}
.checkbox .checkbox__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox .checkbox__span {
  margin-left: 10px;
  font-size: 12px;
}
/* import all screens */
@import url("http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css");
a {
  text-decoration: none;
}
input[type="text"] {
  background: transparent;
  outline: none;
  border: none;
}
body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-wrap {
  position: relative;
  width: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  background: #3a3333;
  overflow: auto;
/* Profile Row */
}
.profile-wrap .profile-top {
  width: 100%;
}
.profile-wrap .profile-row {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 16px;
}
.profile-wrap .profile-row .profile-row__desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  min-height: 56px;
  flex: 1;
}
.profile-wrap .profile-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  z-index: 1000;
  background: #1b1716;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
/* MANAGED ROW */
/* PROFILE IMAGE BLOCK */
/* Profile Details Block */
/* PROFILE DASHBOARD BLOCK */
/* Buttons */
}
.profile-wrap .profile-top .managed-row {
  width: 100%;
  height: 40px;
  background: #1d1e20;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 16px;
  font-size: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.profile-wrap .profile-top .profile-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  font-size: 18px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  background: #d6cbcb;
  margin: 18px auto 0 auto;
}
.profile-wrap .profile-top .profile-image .profile-image__center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.profile-wrap .profile-top .profile-image .profile-image__center .profile-image__center--prim {
  color: #7f3f98;
  font-size: 30px;
  font-weight: 600;
}
.profile-wrap .profile-top .profile-image .profile-image__center .profile-image__center--sec {
  color: #393939;
  font-size: 10px;
  text-transform: uppercase;
}
.profile-wrap .profile-top .profile-details {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  margin: 20px 0;
  text-align: center;
}
.profile-wrap .profile-top .profile-details .profile-details__username,
.profile-wrap .profile-top .profile-details .profile-details__email {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.profile-wrap .profile-top .profile-details .profile-details__username {
  text-transform: capitalize;
  margin-bottom: 3px;
  font-size: 16px;
}
.profile-wrap .profile-top .profile-details .profile-details__email {
  text-transform: lowercase;
  font-size: 12px;
  opacity: 0.7;
}
.profile-wrap .profile-top .profile-button,
.profile-wrap .profile-top .txt-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 64px;
  height: 36px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.profile-wrap .profile-top .profile-button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background: #7f3f98;
}
.dashboard-wrap a {
  margin: 0 auto;
}
.profile-steps {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  margin: 24px 0 16px 0;
  font-size: 12px;
}
.profile-steps .profile-steps__top {
  color: #717171;
  margin-bottom: 5px;
  font-size: 12px;
}
.profile-steps .profile-steps__bot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 10px;
}
.profile-steps .profile-steps__bot .profile-steps__sec--icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  background: #f00;
}
.profile-steps .profile-steps__bot .profile-steps__sec--text {
  margin-left: 5px;
}
.upgrade-wrap {
  border-top: 1px solid #463e3e;
}
.upgrade-wrap .upgrade-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin-top: 20px;
/* Top */
/* Bot */
}
.upgrade-wrap .upgrade-row .upgrade-row__top {
  padding: 5px 0;
}
.upgrade-wrap .upgrade-row .upgrade-row__top .upgrade-row__top--bar {
  width: 100%;
  height: 5px;
  background: #222;
}
.upgrade-wrap .upgrade-row .upgrade-row__bot {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.upgrade-wrap .upgrade-row .upgrade-row__bot .upgrade-row__bot--left {
  font-size: 12px;
}
.upgrade-wrap .upgrade-row .upgrade-row__bot .upgrade-row__bot--right {
  font-size: 10px;
}
.upgrade-wrap .upgrade-row .upgrade-row__bot .upgrade-row__bot--left.green {
  color: #89fba4;
}
.upgrade-wrap .upgrade-row .upgrade-row__bot .upgrade-row__bot--left.yellow {
  color: #fef177;
}
.upgrade-wrap .upgrade-row .upgrade-row__bot .upgrade-row__bot--left.red {
  color: #e53934;
}
.upgrade-wrap .upgrade-row .upgrade-row__bot .upgrade-row__bot--right {
  color: #717171;
}
.upgrade-wrap .upgrade-message {
  margin: 30px 0 18px 0;
  font-size: 12px;
}
.upgrade-wrap .manage-txt {
  font-size: 12px;
  color: #717171;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 0;
}
.upgrade-wrap .profile-row.buttons-row {
  justify-content: space-between;
  padding-bottom: 16px;
}
html,
body,
div,
table,
p,
input {
  color: #d6cbcb;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
