/* BUTTONS ======================================= */


/* LOGIN BUTTON ======================================= */

.login-body
	
	button
		display: block
		width: auto !important
		min-width: 64px !important
		height: 36px !important
		border: none
		outline: none
		color: loginBtnColor
		text-transform: uppercase
		background: loginBtnBG
		float: right
		margin-right: 16px
		padding: 0 16px
		box-shadow(shadowLvl1)



		

/* DIALOG BUTTON ======================================= */

button
	display: block
	width: auto !important
	min-width: 64px !important
	height: 36px !important
	border: none
	outline: none
	color: color8
	text-transform: uppercase
	background: color0
	float: right
	padding: 0 16px