/* CHECKBOX STYL ======================================= */


.checkbox
    width: 100%
    flexbox()
    flex-flow: row nowrap
    justify-content: flex-start
    align-items: center
    box-sizing()
    padding: 0 16px

    .checkbox__box
        flexbox()
        justify-content: center
        align-items: center
    
    .checkbox__span
        margin-left: 10px
        font-size: 12px