/* COLOR PALETE ======================================= */

/***** Monokai *****/

color0 = transparent
color1 = #3a3333
color2 = #2f2a2a
color3 = #463e3e
color4 = #d6cbcb
color4a12 = rgba(214, 203, 203, 0.12)
color4a5 = rgba(214, 203, 203, 0.5)
color5 = #1b1716
color6 = #7e3f98
color7 = #fff
color8 = #313131
red = #ff0000
keyboard = #d1d6d9



