/* INPUT STYL */


/* Responsive text below input */
.response-text:empty
	visibility: hidden

.response-text
	font-weight: defaultWeight
	color: red
	font-size: fontSize1
	position: relative
	margin-top: 5px
	height: 16px



/* FORM ======================================= */
.mui-input
	flexbox()
	justify-content: flex-end
	align-items: center
	flex-flow: column wrap
	width: 100%
	height: 92px
	box-sizing()
	/* padding: 0 16px 10px 16px */
	padding-bottom: 10px

	
	/* Error message */
	.error-msg
		position: relative
		width: 100%
		color: lightRed
		font-size: 12px
		margin-top: 4px
	
	.error-msg:empty
		visibility: hidden

	
	.group
		position: relative 
		width: 100%


		input
			font-size: 14px
			padding: 10px 10px 10px 5px
			box-sizing()
			display: block
			width: 100%
			border: none
			border-bottom: 1px solid color13

		input:focus
			outline: none
			background:  transparent
			



		/* LABEL ======================================= */
		label 
			font-size: 14px
			font-weight: normal
			position: absolute
			pointer-events: none
			left: 5px
			top: 10px
			transition: 0.2s ease all 



		/* active state */
		input:focus ~ label,
		input:valid ~ label
			top: -10px
			color: color7
			font-size: 11px
			font-weight: 300
			letter-spacing: 0.2px
			


		/* BOTTOM BARS ================================= */
		.bar
			position: relative
			display: block
			width: 100%

		.bar:before,
		.bar:after
			content: ''
			height: 2px 
			width: 0
			bottom: 0 
			position: absolute
			background: color6
			transition: 0.2s ease all 

		.bar:before
			left: 50%

		.bar:after
			right: 50% 
				



		/* active state */
		input:focus ~ .bar:before,
		input:focus ~ .bar:after
			width: 50%



/* TEXTAREA STYL ======================================= */
.mui-textarea
	flexbox()
	justify-content: center
	flex-flow: column wrap
	width: 100%
	box-sizing()
	padding: 10px 16px

	label
		font-size: 11px
		font-weight: normal
		position: relative
		pointer-events: none

	textarea
		font-size: 14px
		padding: 10px 10px 10px 5px
		color: color4
		box-sizing()
		display: block
		width: 100%
		border: none
		outline: none
		background: transparent
		resize: none
		border-bottom: 1px solid color13
		min-height: 100px;


















/* FORM ======================================= 
.group-wrap
	flexbox()
	justify-content: center
	align-items: center
	flex-flow: column wrap

	.group
		position: relative 
		width: 100%

		input
			font-size: 18px
			padding: 10px 10px 10px 5px
			box-sizing()
			display: block
			width: 100%
			border: none
			border-bottom: 1px solid inputBorderColor

		input:focus
			outline: none
			background:  transparent
			
*/


		/* LABEL ======================================= 
		label
			color: inputLabelColor 
			font-size: 18px
			font-weight: normal
			position: absolute
			pointer-events: none
			left: 5px
			top: 10px
			transition: 0.2s ease all 

*/

		/* active state 
		input:focus ~ label,
		input:valid ~ label
			top: -20px
			font-size: 14px
			color: inputLabelColor
			
*/

		/* BOTTOM BARS ================================= 
		.bar
			position: relative
			display: block
			width: 100%

		.bar:before,
		.bar:after
			content: ''
			height: 2px 
			width: 0
			bottom: 1px 
			position: absolute
			background: inputBorderColorActive
			transition: 0.2s ease all 

		.bar:before
			left: 50%

		.bar:after
			right: 50% 
				
*/


		/* active state 
		input:focus ~ .bar:before,
		input:focus ~ .bar:after
			width: 50%

*/



