/* VARIABLES ======================================= */


/* GLOBAL ======================================= */

/* Headers */
headerBG = #7e3f98
headerColor = #fff

/* Default Font */
dafaultFont = 'Roboto'
defaultSize = 14px
defaultWeight = 300
defaultColor = #333
defaultColorHover = #000

/* Font Sizes */
fontSize01 = 9px
fontSize02 = 10px
fontSize03 = 12px

fontSize1 = 14px
fontSize2 = 16px
fontSize3 = 18px
fontSize4 = 20px
fontSize5 = 30px

/* Headlines */
h1Color = #fff
h1Size = 20px
h1Weight = 300


/* Content */
contentBG = #fff



/* INPUT ======================================= */

inputColor = #313131
inputLabelColor = #313131
inputBorderColor = #ccc
inputBorderColorActive = #7e3f98


/* BUTTON ======================================= */

/* Login Button */
loginBtnBG = #7e3f98
loginBtnColor = #fff


/* SHADOWS ======================================= */

shadowLvl1 = 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24) 
shadowLvl2 = 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
shadowLvl3 = 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23)
shadowLvl4 = 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22)
shadowLvl4top = 0 -14px 28px rgba(0, 0, 0, .25), 0 -10px 10px rgba(0, 0, 0, .22)
shadowLvl5 = 0 19px 38px rgba(0, 0, 0, .30), 0 15px 12px rgba(0, 0, 0, .22)











